body {
	/* SET FONT FAMILY */
	font-family: 'Cantarell', arial, helvetica, sans-serif;
	/* SET FONT SIZE */
	font-size: 16px;
	/* SET FONT COLOR */
	color: #ececec; text-shadow: 1px 1px 1px #333;
	/* SET LINE HEIGHT */
	line-height: 28px;
	background: transparent url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;

}

a {
	color: #a8218e; font-weight: bold; text-decoration: none;
}

h1 {
	
}

h2 {
	margin: 20px 0;
	font-family: 'Fjalla One'; font-size: 42px; text-transform: uppercase;
}

h3 {
	margin: 0;
}

h4 {
	
}

h2 + p {
	margin: -15px 0 20px;
}

ul, ol {
	
}

ul.no-bullets {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.horizontal li {
	display: inline-block;
}

header {
	position: static; width: 100%; padding: 10px 0; z-index: 100;
	background: rgba(55,55,55,0.9);
}

header:hover {
	background: rgba(18,15,16,0.9);
	transition: all 0.5s;
}

header .row {
	margin-bottom: 0;
}

.logo a {
	padding-left: 20px; display: block;
}

.logo img {
	display: block; margin: 0 0 5px; height: 40px;
}

nav {
	display: none; height: 100px; clear: both;
	font-family: 'Fjalla One';
}

nav li {
	width: 33.33%; float: left;
	font-size: 15px; text-transform: uppercase;
}

nav a {
	display: block; padding: 10px 10px 10px 30px;
	color: #ccc; text-decoration: none; font-weight: normal;
	transition: all 0.5s;
	background: rgba(73,64,67,0.9);
}

nav a:hover {
	color: #fff;
	background: #a8218e;
}

footer {
	background: #a8218e;
}

footer a {
	color: inherit; text-decoration: underline;
}
figure {
	
}

article {
	
}

section {
	padding: 40px 0 20px;
	background: #3a3033;
}

section.register,
section.sponsors,
section.speakers {
	color: #3a3033; text-shadow: 1px 1px 1px #fff;
	background: #f0f0f0;
}

section.about {
	padding: 40px 0 0;
	text-shadow: 1px 1px 1px #fff;
	background: #f0f0f0;
}

section.agenda {
	background: transparent;
}

section .container {
	padding-top: 0;
}

table {
	margin: 0;
}

.container {
	clear: both; overflow: hidden;
	max-width: 1200px; margin: 0 auto; padding-top: 30px;
}

footer .container {
	padding-top: 40px;
	font-size: 14px;
}

.button {
	display: inline-block; padding: 10px 20px;
	color: #ececec; text-transform: uppercase; text-decoration: none; font-size: 20px; text-shadow: 1px 1px 1px #333;
	font-family: 'Fjalla One';
	background: #a8218e;
}

.button.full-width {
	display: block;
}

.button.large {
	
}

.button.small {
	
}

.row {
	margin-bottom: 40px; position: relative;
}

.row .row {
	margin-bottom: 20px;
}

.floatright {
	float: right;
}

/* HEADER */
.mobile-nav-trigger {
	position: absolute; top: 0; right: 0;
	font-size: 22px;
	font-family: 'Fjalla One'; text-transform: uppercase;
}

.mobile-nav-trigger p {
	margin-right: 20px; min-width: 60px; padding-top: 10px; padding-bottom: 10px;
	text-align: center;
	background: rgba(73,64,67,0.5);
	cursor: pointer;
	transition: all 0.5s;
}

.mobile-nav-trigger p:hover,
.mobile-nav-trigger p.active {
	background: rgba(73,64,67,0.9);
}

.mobile-nav-trigger span {
	vertical-align: middle;
	font-size: 14px;
}
.about article {
	padding: 20px 0; margin: 0;
	font-size: 13.5px; color: #a8218e;
	border-top: dotted 2px #a8218e; border-bottom: dotted 2px #a8218e;
}

.about p {
	margin-bottom: 10px;
}

.about p:first-child:first-line {
	font-size: 16px; font-weight: bold;
}

.about em {
	font-size: 16px;
}

/* LOCATION */
section.location {
	background: transparent url(../img/location-desktop.jpg) no-repeat center bottom;
	background-size: cover;
}

.map-image a {
	display: block; min-height: 300px; margin-top: 10px;
	background: transparent url(../img/map-desktop.jpg) no-repeat center center;
}

address {
	margin: 0 0 10px;
	font-size: 18px;
}

address:first-line {
	font-size: 30px;
	font-family: 'Fjalla One'; text-transform: uppercase;
}

.hero-content p {
	clear: both; overflow: hidden; margin-right: 0;
	font-size: 26px; font-family: 'Fjalla One'; line-height:36px;
}

.hero-content span {
	display: inline-block;
}

.hero-content span:first-child {
	display: inline-block; width: auto; margin: 0 auto;
	font-size: 30px; line-height: 14px;
}
.hero-content img {
	display: inline-block; margin: 0;
}

address,
.hero-content img,
.hero-content span {
	padding: 20px;
	color: #c8c8c8;
	background: rgba(0,0,0,0.6);
}

/* SPEAKERS */
.bio {
	padding: 0 10px;
	font-size: 14px; text-align: left;
}

/* SPONSORS */
.sponsors article {
	margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;
	text-align: center;
	background: rgba(255,255,255,1); transition: background 0.5s;
}

.speakers article {
	padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;
	background: rgba(255,255,255,0.5); transition: background 0.5s;
}

.speakers article:hover {
	background: rgba(255,255,255,1);
}

.sponsors img {
	max-height: 100px; max-width: 90%; display: block; width: auto; margin: 0 auto;
}

.volunteers li {
	padding-top: 5px; padding-bottom: 5px;
	font-size: 13.5px;
	border-bottom: dotted 1px #ccc;
}

.speakers img {
	margin: 0 auto; display: block; width: auto; max-width: 90%;
}

.speakers h3 {
	color: #a8218e;
}

/* AGENDA */
.agenda tr {
	border-top: dotted 1px #ccc;
}

.agenda tr:first-child {
	border-top: 0;
}

.agenda td {
	padding: 20px 20px 20px 10px;
	font-weight: bold;
	background: rgba(0,0,0,0.5);
}

.agenda td:first-child {
	font-weight: bold;
	background: tranparent;
}

.agenda p {
	padding: 5px 10px;
	background: #a8218e;
}

.hero {
	height: 300px;
	background-image:url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/* MOBILE */

@media only screen and (max-width: 600px) {
	.mobile-margin.desktop-margin,
	.mobile-margin.tablet-margin {
		margin-right: 0 !Important;
	}
	/* AGENDA */
	.agenda td {
		display: block; padding: 0 0 10px;
	}
	.agenda td:first-child {
		padding: 10px 0 0;
	}
}

/* NOT MOBILE */
@media only screen and (min-width: 600px) {
	header {
		background: rgba(18,15,16,0.8);
	}
	.logo a {
		margin-bottom: 0;
	}
	nav {
		display: block !important; height: auto; clear: none; margin: 0;
	}
	nav li {
		width: auto; float: none;
	}
	nav a {
		padding: 10px;
		background: transparent;
	}
	
	/* HEADER */
	.mobile-nav-trigger {
		display: none;
	}
	
	/* LOCATION */
	.map-image a {
		margin-bottom: 0; margin-top: 0;
		border: solid 3px rgba(0,0,0,0.8);
	}
	address {
		margin: 20px 0 10px;
	} 
	
	/* VOLUNTEERS */
	.volunteers li {
		min-width: 370px;
	}
	
	.hero-content {
		text-align: center;
	}
}

/* TABLET */

@media only screen and (min-width: 600px) and (max-width: 900px) {
	nav {
		text-align: center;
	}
	.container {
		padding-top: 120px;
	}
	.logo {
		text-align: center;
	}
	.logo a {
		display: inline-block; margin: 0 auto; width: auto; padding: 0;
	}
	.desktop-margin.tablet-margin,
	.mobile-margin.tablet-margin {
		margin-right: 0 !important;
	}
}

/* DESKTOP */

@media only screen and (min-width: 900px) {
	.mobile-margin.desktop-margin {
		margin-right: 0 !Important;
	}
	.desktop-margin.tablet-margin {
		margin-right: 0 !important;
	}
	section {
		padding-top: 60px; padding-bottom: 40px;
	}
	.logo img {
		margin: 0; height: 60px;
	}
	header {
		position: fixed; width: 100%;
	}
	nav {
		text-align: right;
	}
	nav li {
		margin-right: 20px;
	}
	.container {
		padding-top: 100px;
	}
	.map-image a {
		margin-bottom: 10px; margin-top: 25px;
	}
	.speakers article:nth-child(5n) {
		clear: left;
	}
	.speakers h3 {
		padding-left: 10px;
	}
	.hero-content {
		margin-top: 100px;
	}
}
